In [1]:
import requests 
response = requests.get("https://services3.arcgis.com/Jdnp1TjADvSDxMAX/ArcGIS/rest/services/dnrFisheries/FeatureServer/13/query?outFields=*&where=1%3D1&f=geojson")

In [2]:
data = response.json()

In [2]:
import pandas as pd 
pd.options.display.float_format = '{:.2f}'.format

In [4]:
data['features'][0]

{'type': 'Feature',
 'id': 1,
 'geometry': None,
 'properties': {'OBJECTID': 1,
  'PK': 40,
  'Mode': 'SHORE',
  'Site': 1,
  'Year': 1985,
  'Month': 4,
  'Species': 'CWS',
  'Effort': None,
  'AnglerTrips': 0,
  'Harvest': 0,
  'Catch': None,
  'GlobalID': '0a247c10-ad1d-443e-b460-6c056c032dc1',
  'County': 'MENOMINEE',
  'Lake': 'MI',
  'Port': 'MENOMINEE',
  'CreationDate': 1684786156282,
  'Creator': 'MichiganDNR',
  'EditDate': 1684786156282,
  'Editor': 'MichiganDNR'}}

In [5]:
df = pd.DataFrame(data["features"])

In [6]:
df.shape

(1000, 4)

In [7]:
df.head()

      type  id geometry                                         properties
0  Feature   1     None  {'OBJECTID': 1, 'PK': 40, 'Mode': 'SHORE', 'Si...
1  Feature   2     None  {'OBJECTID': 2, 'PK': 41, 'Mode': 'SHORE', 'Si...
2  Feature   3     None  {'OBJECTID': 3, 'PK': 42, 'Mode': 'SHORE', 'Si...
3  Feature   4     None  {'OBJECTID': 4, 'PK': 43, 'Mode': 'SHORE', 'Si...
4  Feature   5     None  {'OBJECTID': 5, 'PK': 44, 'Mode': 'SHORE', 'Si...

In [8]:
data["features"][0]["properties"]

{'OBJECTID': 1,
 'PK': 40,
 'Mode': 'SHORE',
 'Site': 1,
 'Year': 1985,
 'Month': 4,
 'Species': 'CWS',
 'Effort': None,
 'AnglerTrips': 0,
 'Harvest': 0,
 'Catch': None,
 'GlobalID': '0a247c10-ad1d-443e-b460-6c056c032dc1',
 'County': 'MENOMINEE',
 'Lake': 'MI',
 'Port': 'MENOMINEE',
 'CreationDate': 1684786156282,
 'Creator': 'MichiganDNR',
 'EditDate': 1684786156282,
 'Editor': 'MichiganDNR'}

In [4]:
creel_path = "Michigan_Creel_Data_Harvest1.csv"
creel = pd.read_csv(creel_path)
creel.head()

,OBJECTID,PK,Mode,Site,Year,Month,Species,Effort,AnglerTrips,Harvest,Catch,County,Lake,Port
0,10021,665475,BOAT,1,2012,3,ATL,1823.25,405.17,0.00,0.00,MENOMINEE,MI,MENOMINEE
1,10022,665476,BOAT,1,2012,4,ATL,5103.00,1173.33,0.00,0.00,MENOMINEE,MI,MENOMINEE
2,10023,665477,BOAT,1,2012,5,ATL,1693.78,386.73,0.00,0.00,MENOMINEE,MI,MENOMINEE
3,10024,665478,BOAT,1,2012,6,ATL,4304.25,810.84,0.00,0.00,MENOMINEE,MI,MENOMINEE
4,10025,665479,BOAT,1,2012,7,ATL,15058.44,1679.65,0.00,0.00,MENOMINEE,MI,MENOMINEE

In [10]:
stock_path = "Fish_Stocking_Data.csv"
stock = pd.read_csv(stock_path)
stock.head()

,County,Water Body,Site Name,Town,Range,Section,Species,Strain,Date,Number,Avg. Length
0,Alcona,Alcona Dam Pond COUNTY PARK (25N 05E 11),COUNTY PARK,25N,05E,11.00,Walleye,Muskegon,6/19/2013 0:00,29306,2.10
1,Alcona,Alcona Dam Pond COUNTY PARK (25N 05E 11),COUNTY PARK,25N,05E,11.00,Walleye,Muskegon,6/15/2015 0:00,27537,1.50
2,Alcona,Au Sable River - Mio to Alcona reach FR4842-Al...,FR4842-Alcona Rest,26N,05E,19.00,Brown trout,Sturgeon River,5/4/2016 0:00,6000,4.58
3,Alcona,Au Sable River - Mio to Alcona reach FR4842-Al...,FR4842-Alcona Rest,26N,05E,19.00,Brown trout,Sturgeon River,5/15/2017 0:00,6000,4.87
4,Alcona,Au Sable River - Mio to Alcona reach FR4842-Al...,FR4842-Alcona Rest,26N,05E,19.00,Brown trout,Sturgeon River,5/8/2018 0:00,6000,5.24

In [3]:
atlsal = creel.loc[creel["Species"] == "ATL"]

atlsal = atlsal.loc[:,['Catch','County']].groupby('County').sum()
atlsal

                  Catch
County
ALCONA           878.08
ALGER              0.00
ALLEGAN            0.00
ALPENA          2825.48
ANTRIM            76.00
ARENAC            35.49
BARAGA            53.11
BAY                0.00
BENZIE           105.60
BERRIEN           60.97
CHARLEVOIX         0.00
CHEBOYGAN        321.30
CHIPPEWA       21753.09
DELTA              0.00
EMMET             11.65
GRAND TRAVERSE     0.00
HURON            328.04
IOSCO           1890.47
LEELANAU           0.00
MACKINAC         297.15
MANISTEE           2.00
MARQUETTE          0.00
MASON              0.00
MENOMINEE          0.00
MUSKEGON           0.00
OCEANA             0.00
ONTARIO            0.00
OTTAWA             0.00
PRESQUE ISLE     336.28
SAGINAW            0.00
SANILAC         2481.32
SCHOOLCRAFT        0.00
TUSCOLA            0.00
VAN BUREN          4.19

In [5]:
wal = creel.loc[creel["Species"] == "WAE"]

wal = wal.loc[:,['Catch','County']].groupby('County').sum()
wal

                    Catch
County
ALCONA            8163.56
ALGER               12.44
ALLEGAN            117.22
ALPENA           39022.22
ANTRIM             134.00
ARENAC          560017.34
BARAGA            1910.61
BAY            1008732.70
BENZIE              98.67
BERRIEN            409.87
CHARLEVOIX         110.87
CHEBOYGAN        16514.85
CHIPPEWA        223243.52
DELTA           297598.58
EMMET              107.40
GOGEBIC              0.00
GRAND TRAVERSE    2914.81
HURON           446079.59
IOSCO            39861.72
KEWEENAW           210.38
LEELANAU             0.00
MACKINAC         14072.34
MANISTEE           309.09
MARQUETTE            0.00
MASON              121.95
MENOMINEE        19848.00
MUSKEGON          3375.01
OCEANA              50.20
ONTARIO           7165.44
ONTONAGON        20273.46
OTTAWA             353.08
PRESQUE ISLE      1134.03
SAGINAW        1436532.10
SANILAC           5408.92
SCHOOLCRAFT       8521.66
TUSCOLA         433654.53
VAN BUREN          133.00

In [37]:
print(wal.iloc[5,0])

560017.33994802

In [5]:
yelperch = creel.loc[creel["Species"] == "YEP"]
yelperch = yelperch.loc[:,['Catch','County']].groupby('County').sum()
yelperch

                    Catch
County
ALCONA             823.77
ALGER             7848.66
ALLEGAN           6886.80
ALPENA           57733.30
ANTRIM            3133.27
ARENAC          912727.95
BARAGA             684.30
BAY             901002.59
BENZIE               0.00
BERRIEN         624411.12
CHARLEVOIX        8812.98
CHEBOYGAN         5125.62
CHIPPEWA        689962.79
DELTA          1049851.21
EMMET             6606.43
GOGEBIC              9.43
GRAND TRAVERSE  413134.14
HURON           724203.63
IOSCO           104642.59
KEWEENAW           410.59
LEELANAU           261.00
MACKINAC        721367.40
MANISTEE         49220.23
MARQUETTE            0.00
MASON            28201.11
MENOMINEE         4752.93
MUSKEGON         10603.85
OCEANA            2027.89
ONTARIO           8429.84
ONTONAGON          137.80
OTTAWA          231190.36
PRESQUE ISLE        79.98
SAGINAW         150922.17
SANILAC         125243.15
SCHOOLCRAFT        280.11
TUSCOLA         473868.40
VAN BUREN       564070.17

In [16]:
wal = stock.loc[stock["Species"] == "Walleye"]

wal = wal.loc[:,['County', 'Number']].groupby('County').sum()
wal

            Number
County
Alcona      215269
Alger       224978
Allegan    8510262
Alpena     1418513
Antrim      680733
...            ...
Tuscola     108545
Van Buren   194954
Washtenaw   304551
Wayne       248462
Wexford    1579523

[77 rows x 1 columns]

In [18]:
#Find the total and mean catch of walleye and perch in Chippewa County from 2012 - 2022
#Find the total and mean catch of walleye and perch in Bay County from 2012- 2022
#Make a data frame of these data 
# wal = creel.loc[creel["Species"] == "WAE"]


walchip = creel.loc[(creel["Species"] == "WAE") & (creel['County'] == "CHIPPEWA")].mean()
walchip['Catch']
perchchip = creel.loc[(creel["Species"] == "YEP") & (creel['County'] == "CHIPPEWA")].mean()
perchchip['Catch']

C:\Users\Kyle\AppData\Local\Temp\ipykernel_25872\2036856630.py:7: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  walchip = creel.loc[(creel["Species"] == "WAE") & (creel['County'] == "CHIPPEWA")].mean()
C:\Users\Kyle\AppData\Local\Temp\ipykernel_25872\2036856630.py:9: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  perchchip = creel.loc[(creel["Species"] == "YEP") & (creel['County'] == "CHIPPEWA")].mean()

2116.4502828860122

In [ ]:
#Find the total and mean stock numbers of walleye and perch in Chippewa County from 2012 - 2022

In [ ]:
#Plot out (bar chart?) the mean stock and catch data from each county

In [ ]:
#Run a ttest (maybe?) of the catch data comparing Chippewa and Bay counties