In [6]:
import requests 
response = requests.get("https://services3.arcgis.com/Jdnp1TjADvSDxMAX/ArcGIS/rest/services/dnrFisheries/FeatureServer/13/query?outFields=*&where=1%3D1&f=geojson")

In [7]:
data = response.json()

In [1]:
import pandas as pd

In [15]:
data['features'][0]

{'type': 'Feature',
 'id': 1,
 'geometry': None,
 'properties': {'OBJECTID': 1,
  'PK': 40,
  'Mode': 'SHORE',
  'Site': 1,
  'Year': 1985,
  'Month': 4,
  'Species': 'CWS',
  'Effort': None,
  'AnglerTrips': 0,
  'Harvest': 0,
  'Catch': None,
  'GlobalID': '0a247c10-ad1d-443e-b460-6c056c032dc1',
  'County': 'MENOMINEE',
  'Lake': 'MI',
  'Port': 'MENOMINEE',
  'CreationDate': 1684786156282,
  'Creator': 'MichiganDNR',
  'EditDate': 1684786156282,
  'Editor': 'MichiganDNR'}}

In [16]:
df = pd.DataFrame(data["features"])

In [17]:
df.shape

(1000, 4)

In [18]:
df.head()

      type  id geometry                                         properties
0  Feature   1     None  {'OBJECTID': 1, 'PK': 40, 'Mode': 'SHORE', 'Si...
1  Feature   2     None  {'OBJECTID': 2, 'PK': 41, 'Mode': 'SHORE', 'Si...
2  Feature   3     None  {'OBJECTID': 3, 'PK': 42, 'Mode': 'SHORE', 'Si...
3  Feature   4     None  {'OBJECTID': 4, 'PK': 43, 'Mode': 'SHORE', 'Si...
4  Feature   5     None  {'OBJECTID': 5, 'PK': 44, 'Mode': 'SHORE', 'Si...

In [21]:
data["features"][0]["properties"]

{'OBJECTID': 1,
 'PK': 40,
 'Mode': 'SHORE',
 'Site': 1,
 'Year': 1985,
 'Month': 4,
 'Species': 'CWS',
 'Effort': None,
 'AnglerTrips': 0,
 'Harvest': 0,
 'Catch': None,
 'GlobalID': '0a247c10-ad1d-443e-b460-6c056c032dc1',
 'County': 'MENOMINEE',
 'Lake': 'MI',
 'Port': 'MENOMINEE',
 'CreationDate': 1684786156282,
 'Creator': 'MichiganDNR',
 'EditDate': 1684786156282,
 'Editor': 'MichiganDNR'}

In [5]:
creel_path = "Michigan_Creel_Data_Harvest1.csv"
creel = pd.read_csv(creel_path)
creel.tail()

C:\Users\Kyle\AppData\Local\Temp\ipykernel_19680\3778299148.py:2: DtypeWarning: Columns (0,1,2,3,4,5,6,11,12,13,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  creel = pd.read_csv(creel_path)

,OBJECTID,PK,Mode,Site,Year,Month,Species,Effort,AnglerTrips,Harvest,Catch,GlobalID,County,Lake,Port,CreationDate,Creator,EditDate,Editor
890424,")""",2023/05/22 20:09:16.282+00,MichiganDNR,2023/05/22 20:09:16.282+00,MichiganDNR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
890425,")""",2023/05/22 20:09:16.282+00,MichiganDNR,2023/05/22 20:09:16.282+00,MichiganDNR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
890426,")""",2023/05/22 20:09:16.282+00,MichiganDNR,2023/05/22 20:09:16.282+00,MichiganDNR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
890427,")""",2023/05/22 20:09:16.282+00,MichiganDNR,2023/05/22 20:09:16.282+00,MichiganDNR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
890428,")""",2023/05/22 20:09:16.282+00,MichiganDNR,2023/05/22 20:09:16.282+00,MichiganDNR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN