In [2]:
import pandas as pd  
import matplotlib.pyplot as plt
import numpy as np

In [3]:
creel_path = "Michigan_Creel_Data_Harvest1.csv"
creel = pd.read_csv(creel_path)
creel.head()

,OBJECTID,PK,Mode,Site,Year,Month,Species,Effort,AnglerTrips,Harvest,Catch,County,Lake,Port
0,10021,665475,BOAT,1,2012,3,ATL,1823.250000,405.166667,0.0,0.0,MENOMINEE,MI,MENOMINEE
1,10022,665476,BOAT,1,2012,4,ATL,5103.000000,1173.326897,0.0,0.0,MENOMINEE,MI,MENOMINEE
2,10023,665477,BOAT,1,2012,5,ATL,1693.777778,386.728827,0.0,0.0,MENOMINEE,MI,MENOMINEE
3,10024,665478,BOAT,1,2012,6,ATL,4304.250000,810.838418,0.0,0.0,MENOMINEE,MI,MENOMINEE
4,10025,665479,BOAT,1,2012,7,ATL,15058.444600,1679.648130,0.0,0.0,MENOMINEE,MI,MENOMINEE

In [4]:
stock_path = "Fish_Stocking_Data.csv"
stock = pd.read_csv(stock_path)
stock.head()

,County,Water Body,Site Name,Town,Range,Section,Species,Strain,Date,Number,Avg. Length
0,Alcona,Alcona Dam Pond COUNTY PARK (25N 05E 11),COUNTY PARK,25N,05E,11.0,Walleye,Muskegon,2013,29306,2.10
1,Alcona,Alcona Dam Pond COUNTY PARK (25N 05E 11),COUNTY PARK,25N,05E,11.0,Walleye,Muskegon,2015,27537,1.50
2,Alcona,Au Sable River - Mio to Alcona reach FR4842-Al...,FR4842-Alcona Rest,26N,05E,19.0,Brown trout,Sturgeon River,2016,6000,4.58
3,Alcona,Au Sable River - Mio to Alcona reach FR4842-Al...,FR4842-Alcona Rest,26N,05E,19.0,Brown trout,Sturgeon River,2017,6000,4.87
4,Alcona,Au Sable River - Mio to Alcona reach FR4842-Al...,FR4842-Alcona Rest,26N,05E,19.0,Brown trout,Sturgeon River,2018,6000,5.24

In [10]:
#Find the total and mean catch of walleye and perch in Chippewa County from 2012 - 2022
#Find the total and mean catch of walleye and perch in Bay County from 2012- 2022
#Make a data frame of these data

In [14]:
#Find the total number and measures of central tendancy for Rainbow Trout stocking in Chippewa County
#Make a data summary of the results 
trout_total = stock.loc[(stock["Species"] == "Rainbow trout") & (stock['County']== 'Chippewa')].groupby('Date').sum()
trout_mean = stock.loc[(stock["Species"] == "Rainbow trout") & (stock['County']== 'Chippewa')].groupby('Date').mean() 
trout_median = stock.loc[(stock["Species"] == "Rainbow trout") & (stock["County"]== "Chippewa")].groupby('Date').median()
trout_sd = stock.loc[(stock["Species"] == "Rainbow trout") & (stock["County"]== "Chippewa")].groupby('Date').std()
trout_sem = stock.loc[(stock["Species"] == "Rainbow trout") & (stock["County"]== "Chippewa")].groupby('Date').sem()

trouttot = per_total['Number']
troutm = per_mean['Number']
troutmed = per_median['Number']
troutsd = per_sd['Number']
troutsem = per_sem['Number']
trout_df = pd.DataFrame({'Total Trout Stocked':trouttot,'Mean Trout Stocked':troutm, 'Median Trout Stocked':troutmed, 'Trout Stocking St. Dev.':troutsd, "Trout Stocking St. Err.":troutsem})
trout_df

/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1130/3232192754.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  trout_total = stock.loc[(stock["Species"] == "Rainbow trout") & (stock['County']== 'Chippewa')].groupby('Date').sum()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1130/3232192754.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  trout_mean = stock.loc[(stock["Species"] == "Rainbow trout") & (stock['County']== 'Chippewa')].groupby('Date').mean()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1130/3232192754.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  trout_median = stock.loc[(stock["Species"] == "Rainbow trout") & (stock["County"]== "Chippewa")].groupby('Date').median()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1130/3232192754.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  trout_sd = stock.loc[(stock["Species"] == "Rainbow trout") & (stock["County"]== "Chippewa")].groupby('Date').std()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1130/3232192754.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sem is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  trout_sem = stock.loc[(stock["Species"] == "Rainbow trout") & (stock["County"]== "Chippewa")].groupby('Date').sem()

,Total Trout Stocked,Mean Trout Stocked,Median Trout Stocked,Trout Stocking St. Dev.,Trout Stocking St. Err.
Date,,,,,
2012,25249,5049.800000,1700.0,5454.770866,2439.447692
2013,23632,5908.000000,1291.0,9941.056014,4970.528007
2014,26069,4344.833333,1357.0,5170.507922,2110.851020
2015,26871,5374.200000,1540.0,9309.994640,4163.556177
2016,26740,5348.000000,1500.0,9304.196365,4160.963110
2017,23768,2640.888889,650.0,3880.539668,1293.513223
2018,27240,3405.000000,1434.5,4268.087394,1508.996769
2019,24754,3536.285714,1375.0,6752.355187,2552.150370
2020,31199,7799.750000,1950.0,12145.007215,6072.503607
2021,6383,1595.750000,1291.5,1359.622098,679.811049
2022,25542,3192.750000,826.0,6903.364371,2440.707880

In [15]:
#Find the total number and measures of central tendancy for Walleye stocking in Chippewa County
#Make a data summary of the results 
wal_total = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Chippewa")].groupby('Date').sum()
wal_mean = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Chippewa")].groupby('Date').mean()
wal_median = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Chippewa")].groupby('Date').median()
wal_sd = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Chippewa")].groupby('Date').std()
wal_sem = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Chippewa")].groupby('Date').sem()

waltot = wal_total['Number']
walm = wal_mean['Number']
walmed = wal_median['Number']
walsd = wal_sd['Number']
walsem = wal_sem['Number']
wal_df = pd.DataFrame({'Total Walleye Stocked':waltot,'Mean Walleye Stocked':walm, 'Median Walleye Stocked':walmed, 'Walleye Stocked St. Dev.':walsd, "Walleye Stocked St. Err.":walsem})
wal_df

/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1130/278828644.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wal_total = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Chippewa")].groupby('Date').sum()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1130/278828644.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wal_mean = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Chippewa")].groupby('Date').mean()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1130/278828644.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wal_median = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Chippewa")].groupby('Date').median()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1130/278828644.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wal_sd = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Chippewa")].groupby('Date').std()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1130/278828644.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sem is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wal_sem = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Chippewa")].groupby('Date').sem()

,Total Walleye Stocked,Mean Walleye Stocked,Median Walleye Stocked,Walleye Stocked St. Dev.,Walleye Stocked St. Err.
Date,,,,,
2012,475682,39640.166667,28906.5,46352.419503,13380.790939
2013,214523,42904.600000,41660.0,26540.968630,11869.482009
2014,737387,56722.076923,30000.0,68959.702149,19125.980157
2015,442080,73680.000000,70315.0,53265.554630,21745.571618
2016,472325,47232.500000,39943.0,37141.188990,11745.075222
2017,558292,50753.818182,42800.0,45666.467231,13768.957937
2018,667038,66703.800000,28019.0,94501.733889,29884.072192
2019,882468,110308.500000,52458.5,164628.087291,58204.818449
2020,1225803,175114.714286,25500.0,364456.154254,137751.478278
2021,749725,187431.250000,121562.5,222392.760088,111196.380044
2022,501068,55674.222222,43010.0,42170.753766,14056.917922

In [13]:
#Plot out (bar chart?) the mean stock and catch data from each county

In [ ]:
#Run a ttest (maybe?) of the catch data comparing Chippewa and Bay counties