In [36]:
import pandas as pd

In [37]:
creel_path = "Michigan_Creel_Data_Harvest1.csv"
creel = pd.read_csv(creel_path)
creel.head()

,OBJECTID,PK,Mode,Site,Year,Month,Species,Effort,AnglerTrips,Harvest,Catch,County,Lake,Port
0,10021,665475,BOAT,1,2012,3,ATL,1823.25,405.17,0.00,0.00,MENOMINEE,MI,MENOMINEE
1,10022,665476,BOAT,1,2012,4,ATL,5103.00,1173.33,0.00,0.00,MENOMINEE,MI,MENOMINEE
2,10023,665477,BOAT,1,2012,5,ATL,1693.78,386.73,0.00,0.00,MENOMINEE,MI,MENOMINEE
3,10024,665478,BOAT,1,2012,6,ATL,4304.25,810.84,0.00,0.00,MENOMINEE,MI,MENOMINEE
4,10025,665479,BOAT,1,2012,7,ATL,15058.44,1679.65,0.00,0.00,MENOMINEE,MI,MENOMINEE

In [38]:
stock_path = "Fish_Stocking_Data.csv"
stock = pd.read_csv(stock_path)
stock.head()

,County,Water Body,Site Name,Town,Range,Section,Species,Strain,Date,Number,Avg. Length
0,Alcona,Alcona Dam Pond COUNTY PARK (25N 05E 11),COUNTY PARK,25N,05E,11.00,Walleye,Muskegon,2013,29306,2.10
1,Alcona,Alcona Dam Pond COUNTY PARK (25N 05E 11),COUNTY PARK,25N,05E,11.00,Walleye,Muskegon,2015,27537,1.50
2,Alcona,Au Sable River - Mio to Alcona reach FR4842-Al...,FR4842-Alcona Rest,26N,05E,19.00,Brown trout,Sturgeon River,2016,6000,4.58
3,Alcona,Au Sable River - Mio to Alcona reach FR4842-Al...,FR4842-Alcona Rest,26N,05E,19.00,Brown trout,Sturgeon River,2017,6000,4.87
4,Alcona,Au Sable River - Mio to Alcona reach FR4842-Al...,FR4842-Alcona Rest,26N,05E,19.00,Brown trout,Sturgeon River,2018,6000,5.24

In [39]:
atlsal = creel.loc[creel["Species"] == "ATL"]

atlsal = atlsal.loc[:,['Catch','County']].groupby('County').sum()
atlsal

                  Catch
County
ALCONA           878.08
ALGER              0.00
ALLEGAN            0.00
ALPENA          2825.48
ANTRIM            76.00
ARENAC            35.49
BARAGA            53.11
BAY                0.00
BENZIE           105.60
BERRIEN           60.97
CHARLEVOIX         0.00
CHEBOYGAN        321.30
CHIPPEWA       21753.09
DELTA              0.00
EMMET             11.65
GRAND TRAVERSE     0.00
HURON            328.04
IOSCO           1890.47
LEELANAU           0.00
MACKINAC         297.15
MANISTEE           2.00
MARQUETTE          0.00
MASON              0.00
MENOMINEE          0.00
MUSKEGON           0.00
OCEANA             0.00
ONTARIO            0.00
OTTAWA             0.00
PRESQUE ISLE     336.28
SAGINAW            0.00
SANILAC         2481.32
SCHOOLCRAFT        0.00
TUSCOLA            0.00
VAN BUREN          4.19

In [40]:
wal = creel.loc[creel["Species"] == "WAE"]

wal = wal.loc[:,['Catch','County']].groupby('County').sum()
wal

                    Catch
County
ALCONA            8163.56
ALGER               12.44
ALLEGAN            117.22
ALPENA           39022.22
ANTRIM             134.00
ARENAC          560017.34
BARAGA            1910.61
BAY            1008732.70
BENZIE              98.67
BERRIEN            409.87
CHARLEVOIX         110.87
CHEBOYGAN        16514.85
CHIPPEWA        223243.52
DELTA           297598.58
EMMET              107.40
GOGEBIC              0.00
GRAND TRAVERSE    2914.81
HURON           446079.59
IOSCO            39861.72
KEWEENAW           210.38
LEELANAU             0.00
MACKINAC         14072.34
MANISTEE           309.09
MARQUETTE            0.00
MASON              121.95
MENOMINEE        19848.00
MUSKEGON          3375.01
OCEANA              50.20
ONTARIO           7165.44
ONTONAGON        20273.46
OTTAWA             353.08
PRESQUE ISLE      1134.03
SAGINAW        1436532.10
SANILAC           5408.92
SCHOOLCRAFT       8521.66
TUSCOLA         433654.53
VAN BUREN          133.00

In [41]:
print(wal.iloc[5,0])

560017.33994802

In [42]:
yelperch = creel.loc[creel["Species"] == "YEP"]
yelperch = yelperch.loc[:,['Catch','County']].groupby('County').sum()
yelperch

                    Catch
County
ALCONA             823.77
ALGER             7848.66
ALLEGAN           6886.80
ALPENA           57733.30
ANTRIM            3133.27
ARENAC          912727.95
BARAGA             684.30
BAY             901002.59
BENZIE               0.00
BERRIEN         624411.12
CHARLEVOIX        8812.98
CHEBOYGAN         5125.62
CHIPPEWA        689962.79
DELTA          1049851.21
EMMET             6606.43
GOGEBIC              9.43
GRAND TRAVERSE  413134.14
HURON           724203.63
IOSCO           104642.59
KEWEENAW           410.59
LEELANAU           261.00
MACKINAC        721367.40
MANISTEE         49220.23
MARQUETTE            0.00
MASON            28201.11
MENOMINEE         4752.93
MUSKEGON         10603.85
OCEANA            2027.89
ONTARIO           8429.84
ONTONAGON          137.80
OTTAWA          231190.36
PRESQUE ISLE        79.98
SAGINAW         150922.17
SANILAC         125243.15
SCHOOLCRAFT        280.11
TUSCOLA         473868.40
VAN BUREN       564070.17

In [43]:

#wal = wal.loc[:,['County', 'Number']].groupby('County').sum()
wal

                    Catch
County
ALCONA            8163.56
ALGER               12.44
ALLEGAN            117.22
ALPENA           39022.22
ANTRIM             134.00
ARENAC          560017.34
BARAGA            1910.61
BAY            1008732.70
BENZIE              98.67
BERRIEN            409.87
CHARLEVOIX         110.87
CHEBOYGAN        16514.85
CHIPPEWA        223243.52
DELTA           297598.58
EMMET              107.40
GOGEBIC              0.00
GRAND TRAVERSE    2914.81
HURON           446079.59
IOSCO            39861.72
KEWEENAW           210.38
LEELANAU             0.00
MACKINAC         14072.34
MANISTEE           309.09
MARQUETTE            0.00
MASON              121.95
MENOMINEE        19848.00
MUSKEGON          3375.01
OCEANA              50.20
ONTARIO           7165.44
ONTONAGON        20273.46
OTTAWA             353.08
PRESQUE ISLE      1134.03
SAGINAW        1436532.10
SANILAC           5408.92
SCHOOLCRAFT       8521.66
TUSCOLA         433654.53
VAN BUREN          133.00

In [44]:
#Find the total and mean catch of walleye and perch in Chippewa County from 2012 - 2022
#Find the total and mean catch of walleye and perch in Bay County from 2012- 2022
#Make a data frame of these data

In [50]:
#Filter stocking numbers for walleye just Chippewa County
wal = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Chippewa")].groupby('Date').mean()
wal['Number'].to_frame


#Stock_by_year =  pd.DataFrame({"2012": twentytwelve, "2013":twentythirteen,
                                   # "2014":twentyfourteen, "2015":twentyfifteen, "2016":twentysixteen, "2017":twentyseventeen,
                             # "2018":twentyeighteen, "2019":twentynineteen, "2020":twentytwenty, "2021":twentytwenone, "2022":twentytwentwo})

# Minor data wrangling
#Stock_by_year = Stock_by_year[["2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022"]]
#Stock_by_year.index.name = None

# Display the DataFrame
#Stock_by_year

/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_9459/1540041781.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wal = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Chippewa")].groupby('Date').mean()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_9459/1540041781.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per = stock.loc[(stock["Species"] == "Yellow Perch") & (stock["County"]== "Chippewa")].groupby('Date').mean()

<bound method Series.to_frame of Date
2012    39640.17
2013    42904.60
2014    56722.08
2015    73680.00
2016    47232.50
2017    50753.82
2018    66703.80
2019   110308.50
2020   175114.71
2021   187431.25
2022    55674.22
Name: Number, dtype: float64>

In [51]:
per = stock.loc[(stock["Species"] == "Yellow Perch") & (stock["County"]== "Chippewa")].groupby('Date').mean()
wal['Number'].to_frame

/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_9459/27189438.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per = stock.loc[(stock["Species"] == "Yellow Perch") & (stock["County"]== "Chippewa")].groupby('Date').mean()

<bound method Series.to_frame of Date
2012    39640.17
2013    42904.60
2014    56722.08
2015    73680.00
2016    47232.50
2017    50753.82
2018    66703.80
2019   110308.50
2020   175114.71
2021   187431.25
2022    55674.22
Name: Number, dtype: float64>

In [ ]:
#Plot out (bar chart?) the mean stock and catch data from each county

In [ ]:
#Run a ttest (maybe?) of the catch data comparing Chippewa and Bay counties