In [6]:
import requests 
response = requests.get("https://services3.arcgis.com/Jdnp1TjADvSDxMAX/ArcGIS/rest/services/dnrFisheries/FeatureServer/13/query?outFields=*&where=1%3D1&f=geojson")

In [7]:
data = response.json()

In [8]:
import pandas as pd

In [15]:
data['features'][0]

{'type': 'Feature',
 'id': 1,
 'geometry': None,
 'properties': {'OBJECTID': 1,
  'PK': 40,
  'Mode': 'SHORE',
  'Site': 1,
  'Year': 1985,
  'Month': 4,
  'Species': 'CWS',
  'Effort': None,
  'AnglerTrips': 0,
  'Harvest': 0,
  'Catch': None,
  'GlobalID': '0a247c10-ad1d-443e-b460-6c056c032dc1',
  'County': 'MENOMINEE',
  'Lake': 'MI',
  'Port': 'MENOMINEE',
  'CreationDate': 1684786156282,
  'Creator': 'MichiganDNR',
  'EditDate': 1684786156282,
  'Editor': 'MichiganDNR'}}

In [16]:
df = pd.DataFrame(data["features"])

In [17]:
df.shape

(1000, 4)

In [18]:
df.head()

      type  id geometry                                         properties
0  Feature   1     None  {'OBJECTID': 1, 'PK': 40, 'Mode': 'SHORE', 'Si...
1  Feature   2     None  {'OBJECTID': 2, 'PK': 41, 'Mode': 'SHORE', 'Si...
2  Feature   3     None  {'OBJECTID': 3, 'PK': 42, 'Mode': 'SHORE', 'Si...
3  Feature   4     None  {'OBJECTID': 4, 'PK': 43, 'Mode': 'SHORE', 'Si...
4  Feature   5     None  {'OBJECTID': 5, 'PK': 44, 'Mode': 'SHORE', 'Si...

In [21]:
data["features"][0]["properties"]

{'OBJECTID': 1,
 'PK': 40,
 'Mode': 'SHORE',
 'Site': 1,
 'Year': 1985,
 'Month': 4,
 'Species': 'CWS',
 'Effort': None,
 'AnglerTrips': 0,
 'Harvest': 0,
 'Catch': None,
 'GlobalID': '0a247c10-ad1d-443e-b460-6c056c032dc1',
 'County': 'MENOMINEE',
 'Lake': 'MI',
 'Port': 'MENOMINEE',
 'CreationDate': 1684786156282,
 'Creator': 'MichiganDNR',
 'EditDate': 1684786156282,
 'Editor': 'MichiganDNR'}

In [9]:
creel_path = "Michigan_Creel_Data_Harvest1.csv"
creel = pd.read_csv(creel_path)
creel.head()

,OBJECTID,PK,Mode,Site,Year,Month,Species,Effort,AnglerTrips,Harvest,Catch,County,Lake,Port
0,10021,665475,BOAT,1,2012,3,ATL,1823.250000,405.166667,0.0,0.0,MENOMINEE,MI,MENOMINEE
1,10022,665476,BOAT,1,2012,4,ATL,5103.000000,1173.326897,0.0,0.0,MENOMINEE,MI,MENOMINEE
2,10023,665477,BOAT,1,2012,5,ATL,1693.777778,386.728827,0.0,0.0,MENOMINEE,MI,MENOMINEE
3,10024,665478,BOAT,1,2012,6,ATL,4304.250000,810.838418,0.0,0.0,MENOMINEE,MI,MENOMINEE
4,10025,665479,BOAT,1,2012,7,ATL,15058.444600,1679.648130,0.0,0.0,MENOMINEE,MI,MENOMINEE