In [2]:
import pandas as pd

In [3]:
creel_path = "Michigan_Creel_Data_Harvest1.csv"
creel = pd.read_csv(creel_path)
creel.head()

,OBJECTID,PK,Mode,Site,Year,Month,Species,Effort,AnglerTrips,Harvest,Catch,County,Lake,Port
0,10021,665475,BOAT,1,2012,3,ATL,1823.250000,405.166667,0.0,0.0,MENOMINEE,MI,MENOMINEE
1,10022,665476,BOAT,1,2012,4,ATL,5103.000000,1173.326897,0.0,0.0,MENOMINEE,MI,MENOMINEE
2,10023,665477,BOAT,1,2012,5,ATL,1693.777778,386.728827,0.0,0.0,MENOMINEE,MI,MENOMINEE
3,10024,665478,BOAT,1,2012,6,ATL,4304.250000,810.838418,0.0,0.0,MENOMINEE,MI,MENOMINEE
4,10025,665479,BOAT,1,2012,7,ATL,15058.444600,1679.648130,0.0,0.0,MENOMINEE,MI,MENOMINEE

In [4]:
stock_path = "Fish_Stocking_Data.csv"
stock = pd.read_csv(stock_path)
stock.head()

,County,Water Body,Site Name,Town,Range,Section,Species,Strain,Date,Number,Avg. Length
0,Alcona,Alcona Dam Pond COUNTY PARK (25N 05E 11),COUNTY PARK,25N,05E,11.0,Walleye,Muskegon,2013,29306,2.10
1,Alcona,Alcona Dam Pond COUNTY PARK (25N 05E 11),COUNTY PARK,25N,05E,11.0,Walleye,Muskegon,2015,27537,1.50
2,Alcona,Au Sable River - Mio to Alcona reach FR4842-Al...,FR4842-Alcona Rest,26N,05E,19.0,Brown trout,Sturgeon River,2016,6000,4.58
3,Alcona,Au Sable River - Mio to Alcona reach FR4842-Al...,FR4842-Alcona Rest,26N,05E,19.0,Brown trout,Sturgeon River,2017,6000,4.87
4,Alcona,Au Sable River - Mio to Alcona reach FR4842-Al...,FR4842-Alcona Rest,26N,05E,19.0,Brown trout,Sturgeon River,2018,6000,5.24

In [5]:
atlsal = creel.loc[creel["Species"] == "ATL"]

atlsal = atlsal.loc[:,['Catch','County']].groupby('County').sum()
atlsal

                       Catch
County
ALCONA            878.084232
ALGER               0.000000
ALLEGAN             0.000000
ALPENA           2825.482807
ANTRIM             76.000000
ARENAC             35.488939
BARAGA             53.108024
BAY                 0.000000
BENZIE            105.602564
BERRIEN            60.969648
CHARLEVOIX          0.000000
CHEBOYGAN         321.302489
CHIPPEWA        21753.088487
DELTA               0.000000
EMMET              11.651786
GRAND TRAVERSE      0.000000
HURON             328.039437
IOSCO            1890.473095
LEELANAU            0.000000
MACKINAC          297.148975
MANISTEE            2.000000
MARQUETTE           0.000000
MASON               0.000000
MENOMINEE           0.000000
MUSKEGON            0.000000
OCEANA              0.000000
ONTARIO             0.000000
OTTAWA              0.000000
PRESQUE ISLE      336.283826
SAGINAW             0.000000
SANILAC          2481.315156
SCHOOLCRAFT         0.000000
TUSCOLA             0.000000
VAN BUREN           4.191781

In [6]:
wal = creel.loc[creel["Species"] == "WAE"]

wal = wal.loc[:,['Catch','County']].groupby('County').sum()
wal

                       Catch
County
ALCONA          8.163556e+03
ALGER           1.244149e+01
ALLEGAN         1.172163e+02
ALPENA          3.902222e+04
ANTRIM          1.340000e+02
ARENAC          5.600173e+05
BARAGA          1.910606e+03
BAY             1.008733e+06
BENZIE          9.866811e+01
BERRIEN         4.098696e+02
CHARLEVOIX      1.108696e+02
CHEBOYGAN       1.651485e+04
CHIPPEWA        2.232435e+05
DELTA           2.975986e+05
EMMET           1.073990e+02
GOGEBIC         0.000000e+00
GRAND TRAVERSE  2.914815e+03
HURON           4.460796e+05
IOSCO           3.986172e+04
KEWEENAW        2.103775e+02
LEELANAU        0.000000e+00
MACKINAC        1.407234e+04
MANISTEE        3.090907e+02
MARQUETTE       0.000000e+00
MASON           1.219488e+02
MENOMINEE       1.984800e+04
MUSKEGON        3.375009e+03
OCEANA          5.020000e+01
ONTARIO         7.165442e+03
ONTONAGON       2.027346e+04
OTTAWA          3.530824e+02
PRESQUE ISLE    1.134034e+03
SAGINAW         1.436532e+06
SANILAC         5.408922e+03
SCHOOLCRAFT     8.521657e+03
TUSCOLA         4.336545e+05
VAN BUREN       1.330000e+02

In [7]:
print(wal.iloc[5,0])

560017.33994802

In [8]:
yelperch = creel.loc[creel["Species"] == "YEP"]
yelperch = yelperch.loc[:,['Catch','County']].groupby('County').sum()
yelperch

                       Catch
County
ALCONA          8.237654e+02
ALGER           7.848665e+03
ALLEGAN         6.886799e+03
ALPENA          5.773330e+04
ANTRIM          3.133270e+03
ARENAC          9.127279e+05
BARAGA          6.842992e+02
BAY             9.010026e+05
BENZIE          0.000000e+00
BERRIEN         6.244111e+05
CHARLEVOIX      8.812982e+03
CHEBOYGAN       5.125624e+03
CHIPPEWA        6.899628e+05
DELTA           1.049851e+06
EMMET           6.606428e+03
GOGEBIC         9.428571e+00
GRAND TRAVERSE  4.131341e+05
HURON           7.242036e+05
IOSCO           1.046426e+05
KEWEENAW        4.105919e+02
LEELANAU        2.610000e+02
MACKINAC        7.213674e+05
MANISTEE        4.922023e+04
MARQUETTE       0.000000e+00
MASON           2.820111e+04
MENOMINEE       4.752928e+03
MUSKEGON        1.060385e+04
OCEANA          2.027886e+03
ONTARIO         8.429843e+03
ONTONAGON       1.377984e+02
OTTAWA          2.311904e+05
PRESQUE ISLE    7.997939e+01
SAGINAW         1.509222e+05
SANILAC         1.252431e+05
SCHOOLCRAFT     2.801137e+02
TUSCOLA         4.738684e+05
VAN BUREN       5.640702e+05

In [9]:

#wal = wal.loc[:,['County', 'Number']].groupby('County').sum()
wal

                       Catch
County
ALCONA          8.163556e+03
ALGER           1.244149e+01
ALLEGAN         1.172163e+02
ALPENA          3.902222e+04
ANTRIM          1.340000e+02
ARENAC          5.600173e+05
BARAGA          1.910606e+03
BAY             1.008733e+06
BENZIE          9.866811e+01
BERRIEN         4.098696e+02
CHARLEVOIX      1.108696e+02
CHEBOYGAN       1.651485e+04
CHIPPEWA        2.232435e+05
DELTA           2.975986e+05
EMMET           1.073990e+02
GOGEBIC         0.000000e+00
GRAND TRAVERSE  2.914815e+03
HURON           4.460796e+05
IOSCO           3.986172e+04
KEWEENAW        2.103775e+02
LEELANAU        0.000000e+00
MACKINAC        1.407234e+04
MANISTEE        3.090907e+02
MARQUETTE       0.000000e+00
MASON           1.219488e+02
MENOMINEE       1.984800e+04
MUSKEGON        3.375009e+03
OCEANA          5.020000e+01
ONTARIO         7.165442e+03
ONTONAGON       2.027346e+04
OTTAWA          3.530824e+02
PRESQUE ISLE    1.134034e+03
SAGINAW         1.436532e+06
SANILAC         5.408922e+03
SCHOOLCRAFT     8.521657e+03
TUSCOLA         4.336545e+05
VAN BUREN       1.330000e+02

In [10]:
#Find the total and mean catch of walleye and perch in Chippewa County from 2012 - 2022
#Find the total and mean catch of walleye and perch in Bay County from 2012- 2022
#Make a data frame of these data

In [55]:
per_total = stock.loc[(stock["Species"] == "Yellow Perch") & (stock['County']== 'Livingston')].groupby('Date').sum()
per_mean = stock.loc[(stock["Species"] == "Yellow Perch") & (stock['County']== 'Livingston')].groupby('Date').mean() 
per_median = stock.loc[(stock["Species"] == "Yellow Perch") & (stock["County"]== "Livingston")].groupby('Date').median()
per_sd = stock.loc[(stock["Species"] == "Yellow Perch") & (stock["County"]== "Livingston")].groupby('Date').std()
per_sem = stock.loc[(stock["Species"] == "Yellow Perch") & (stock["County"]== "Livingston")].groupby('Date').sem()

pertot = per_total['Number']
perm = per_mean['Number']
permed = per_median['Number']
persd = per_sd['Number']
persem = per_sem['Number']
per_df = pd.DataFrame({'Total Perch Stocked':pertot,'Perch Stocking Mean':perm, 'Perch Stocking Median':permed, 'Perch Stocking St. Dev.':persd, "Perch Stocking St. Err.":persem})
per_df

/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_10089/11112885.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_total = stock.loc[(stock["Species"] == "Yellow Perch") & (stock['County']== 'Livingston')].groupby('Date').sum()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_10089/11112885.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_mean = stock.loc[(stock["Species"] == "Yellow Perch") & (stock['County']== 'Livingston')].groupby('Date').mean()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_10089/11112885.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_median = stock.loc[(stock["Species"] == "Yellow Perch") & (stock["County"]== "Livingston")].groupby('Date').median()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_10089/11112885.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_sd = stock.loc[(stock["Species"] == "Yellow Perch") & (stock["County"]== "Livingston")].groupby('Date').std()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_10089/11112885.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sem is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  per_sem = stock.loc[(stock["Species"] == "Yellow Perch") & (stock["County"]== "Livingston")].groupby('Date').sem()

,Total Perch Stocked,Perch Stocking Mean,Perch Stocking Median,Perch Stocking St. Dev.,Perch Stocking St. Err.
Date,,,,,
2013,1606,535.333333,506.0,450.716467,260.221273
2014,1587,529.000000,487.0,451.467607,260.654944
2015,500,166.666667,200.0,57.735027,33.333333
2016,1895,631.666667,425.0,564.143894,325.708629
2017,1287,429.000000,400.0,244.791748,141.330582
2018,1600,800.000000,800.0,282.842712,200.000000
2020,230,230.000000,230.0,NaN,NaN

In [56]:
#Filter stocking numbers for walleye just Chippewa County
wal_total = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Livingston")].groupby('Date').sum()
wal_mean = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Livingston")].groupby('Date').mean()
wal_median = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Livingston")].groupby('Date').median()
wal_sd = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Livingston")].groupby('Date').std()
wal_sem = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Livingston")].groupby('Date').sem()

waltot = wal_total['Number']
walm = wal_mean['Number']
walmed = wal_median['Number']
walsd = wal_sd['Number']
walsem = wal_sem['Number']
wal_df = pd.DataFrame({'Total Walleye Stocked':waltot,'Mean Walleye Stocked':walm, 'Median Walleye Stocked':walmed, 'Walleye Stocked St. Dev.':walsd, "Walleye Stocked St. Err.":walsem})
wal_df

#Stock_by_year =  pd.DataFrame({"2012": twentytwelve, "2013":twentythirteen,
                                   # "2014":twentyfourteen, "2015":twentyfifteen, "2016":twentysixteen, "2017":twentyseventeen,
                             # "2018":twentyeighteen, "2019":twentynineteen, "2020":twentytwenty, "2021":twentytwenone, "2022":twentytwentwo})

# Minor data wrangling
#Stock_by_year = Stock_by_year[["2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021", "2022"]]
#Stock_by_year.index.name = None

# Display the DataFrame
#Stock_by_year

/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_10089/1033250367.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wal_total = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Livingston")].groupby('Date').sum()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_10089/1033250367.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wal_mean = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Livingston")].groupby('Date').mean()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_10089/1033250367.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wal_median = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Livingston")].groupby('Date').median()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_10089/1033250367.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wal_sd = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Livingston")].groupby('Date').std()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_10089/1033250367.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sem is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wal_sem = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Livingston")].groupby('Date').sem()

,Total Walleye Stocked,Mean Walleye Stocked,Median Walleye Stocked,Walleye Stocked St. Dev.,Walleye Stocked St. Err.
Date,,,,,
2012,7730,2576.666667,450.0,3706.034179,2139.679831
2013,51295,7327.857143,575.0,8931.946362,3375.958400
2014,65951,10991.833333,3269.0,20102.711403,8206.897564
2015,58511,9751.833333,959.5,14158.213057,5780.066277
2016,1420,710.000000,710.0,56.568542,40.000000
2017,129480,16185.000000,7337.5,20231.231493,7152.820490
2018,1645,548.333333,600.0,325.589209,187.979018
2019,25320,25320.000000,25320.0,NaN,NaN
2020,970,485.000000,485.0,332.340187,235.000000
2021,42054,21027.000000,21027.0,3145.210963,2224.000000
2022,37200,18600.000000,18600.0,25455.844123,18000.000000

In [13]:
#Plot out (bar chart?) the mean stock and catch data from each county

In [ ]:
#Run a ttest (maybe?) of the catch data comparing Chippewa and Bay counties