In [3]:
import pandas as pd  
import matplotlib.pyplot as plt
import numpy as np

In [4]:
creel_path = "Michigan_Creel_Data_Harvest1.csv"
creel = pd.read_csv(creel_path)
creel.head()

,OBJECTID,PK,Mode,Site,Year,Month,Species,Effort,AnglerTrips,Harvest,Catch,County,Lake,Port
0,10021,665475,BOAT,1,2012,3,ATL,1823.250000,405.166667,0.0,0.0,MENOMINEE,MI,MENOMINEE
1,10022,665476,BOAT,1,2012,4,ATL,5103.000000,1173.326897,0.0,0.0,MENOMINEE,MI,MENOMINEE
2,10023,665477,BOAT,1,2012,5,ATL,1693.777778,386.728827,0.0,0.0,MENOMINEE,MI,MENOMINEE
3,10024,665478,BOAT,1,2012,6,ATL,4304.250000,810.838418,0.0,0.0,MENOMINEE,MI,MENOMINEE
4,10025,665479,BOAT,1,2012,7,ATL,15058.444600,1679.648130,0.0,0.0,MENOMINEE,MI,MENOMINEE

In [5]:
stock_path = "Fish_Stocking_Data.csv"
stock = pd.read_csv(stock_path)
stock.head()

,County,Water Body,Site Name,Town,Range,Section,Species,Strain,Date,Number,Avg. Length
0,Alcona,Alcona Dam Pond COUNTY PARK (25N 05E 11),COUNTY PARK,25N,05E,11.0,Walleye,Muskegon,2013,29306,2.10
1,Alcona,Alcona Dam Pond COUNTY PARK (25N 05E 11),COUNTY PARK,25N,05E,11.0,Walleye,Muskegon,2015,27537,1.50
2,Alcona,Au Sable River - Mio to Alcona reach FR4842-Al...,FR4842-Alcona Rest,26N,05E,19.0,Brown trout,Sturgeon River,2016,6000,4.58
3,Alcona,Au Sable River - Mio to Alcona reach FR4842-Al...,FR4842-Alcona Rest,26N,05E,19.0,Brown trout,Sturgeon River,2017,6000,4.87
4,Alcona,Au Sable River - Mio to Alcona reach FR4842-Al...,FR4842-Alcona Rest,26N,05E,19.0,Brown trout,Sturgeon River,2018,6000,5.24

In [6]:
#Find the total and mean catch of walleye and perch in Chippewa County from 2012 - 2022
#Make a data frame of these data 
rain_chip_total = creel.loc[(creel["Species"] == "RBT") &
                           (creel["County"]== "CHIPPEWA")].groupby('Year').sum()
rain_chip_mean = creel.loc[(creel["Species"] == "RBT") &
                          (creel["County"]== "CHIPPEWA")].groupby('Year').mean()
rain_chip_median = creel.loc[(creel["Species"] == "RBT") &
                            (creel["County"]== "CHIPPEWA")].groupby('Year').median()
rain_chip_sd = creel.loc[(creel["Species"] == "RBT") &
                        (creel["County"]== "CHIPPEWA")].groupby('Year').std()
rain_chip_sem = creel.loc[(creel["Species"] == "RBT") &
                         (creel["County"]== "CHIPPEWA")].groupby('Year').sem()
rainchiptot = rain_chip_total['Catch']
rainchipm = rain_chip_mean['Catch']
rainchipmed = rain_chip_median['Catch']
rainchipsd = rain_chip_sd['Catch']
rainchipsem = rain_chip_sem['Catch']
rain_chip_df = pd.DataFrame({'Total Trout Caught':rainchiptot,
                            'Mean Trout Caught':rainchipm,
                            'Median Trout Caught':rainchipmed,
                            'Trout Caught St. Dev.':rainchipsd,
                            "Trout Caught St. Err.":rainchipsem})
rain_chip_df

/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1597/1311097587.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  (creel["County"]== "CHIPPEWA")].groupby('Year').sum()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1597/1311097587.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  (creel["County"]== "CHIPPEWA")].groupby('Year').mean()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1597/1311097587.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  (creel["County"]== "CHIPPEWA")].groupby('Year').median()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1597/1311097587.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  (creel["County"]== "CHIPPEWA")].groupby('Year').std()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1597/1311097587.py:12: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sem is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  (creel["County"]== "CHIPPEWA")].groupby('Year').sem()

,Total Trout Caught,Mean Trout Caught,Median Trout Caught,Trout Caught St. Dev.,Trout Caught St. Err.
Year,,,,,
2012,46.217517,1.711760,0.0,6.373225,1.226528
2013,77.298977,1.797651,0.0,5.537533,0.844466
2014,528.714914,16.021664,0.0,39.855184,6.937897
2015,18.000000,0.720000,0.0,2.557994,0.511599
2016,109.000000,4.360000,0.0,9.961928,1.992386
2017,4482.000000,77.275862,0.0,307.047273,40.317282
2018,46.633957,6.661994,0.0,9.525991,3.600486
2019,77.000000,12.833333,0.0,22.166792,9.049555
2020,90.348188,7.529016,0.0,15.969767,4.610075
2022,3994.319037,44.381323,0.0,245.209671,25.847369

In [7]:
#walchipmean = creel.loc[(creel["Species"] == "WAE") &
                        #(creel['County'] == "CHIPPEWA")].groupby('Year').mean()
wal_chip_total = creel.loc[(creel["Species"] == "WAE") &
                           (creel["County"]== "CHIPPEWA")].groupby('Year').sum()
wal_chip_mean = creel.loc[(creel["Species"] == "WAE") &
                          (creel["County"]== "CHIPPEWA")].groupby('Year').mean()
wal_chip_median = creel.loc[(creel["Species"] == "WAE") &
                            (creel["County"]== "CHIPPEWA")].groupby('Year').median()
wal_chip_sd = creel.loc[(creel["Species"] == "WAE") &
                        (creel["County"]== "CHIPPEWA")].groupby('Year').std()
wal_chip_sem = creel.loc[(creel["Species"] == "WAE") &
                         (creel["County"]== "CHIPPEWA")].groupby('Year').sem()
walchiptot = wal_chip_total['Catch']
walchipm = wal_chip_mean['Catch']
walchipmed = wal_chip_median['Catch']
walchipsd = wal_chip_sd['Catch']
walchipsem = wal_chip_sem['Catch']
wal_chip_df = pd.DataFrame({'Total Walleye Caught':walchiptot,
                            'Mean Walleye Caught':walchipm,
                            'Median Walleye Caught':walchipmed,
                            'Walleye Caught St. Dev.':walchipsd,
                            "Walleye Caught St. Err.":walchipsem})
wal_chip_df

/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1597/1898066968.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  (creel["County"]== "CHIPPEWA")].groupby('Year').sum()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1597/1898066968.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  (creel["County"]== "CHIPPEWA")].groupby('Year').mean()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1597/1898066968.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  (creel["County"]== "CHIPPEWA")].groupby('Year').median()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1597/1898066968.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  (creel["County"]== "CHIPPEWA")].groupby('Year').std()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1597/1898066968.py:12: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sem is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  (creel["County"]== "CHIPPEWA")].groupby('Year').sem()

,Total Walleye Caught,Mean Walleye Caught,Median Walleye Caught,Walleye Caught St. Dev.,Walleye Caught St. Err.
Year,,,,,
2012,27032.909546,1001.218872,0.000000,2227.830942,428.746265
2013,41827.886935,972.741557,0.000000,2435.863901,371.465762
2014,28776.814501,872.024682,133.472882,2436.697605,424.174607
2015,27214.000000,1088.560000,11.000000,1865.500381,373.100076
2016,16935.000000,677.400000,0.000000,1808.098356,361.619671
2017,41871.000000,721.913793,12.000000,2003.097569,263.019596
2018,13.427964,1.918281,0.000000,5.075293,1.918281
2019,41.000000,6.833333,1.500000,11.409061,4.657730
2020,29.092957,2.424413,0.000000,4.355542,1.257337
2022,39502.385826,438.915398,0.000000,1239.065833,130.609007

In [8]:
#Find the total and mean catch of walleye and perch in Bay County from 2012- 2022
waebay_mean = creel.loc[(creel['Species'] == 'WAE') & (creel['County'] == 'BAY')].groupby('Year').mean(numeric_only=True)
waebay_med = creel.loc[(creel['Species'] == 'WAE') & (creel['County'] == 'BAY')].groupby('Year').median(numeric_only=True)
waebay_sd = creel.loc[(creel['Species'] == 'WAE') & (creel['County'] == 'BAY')].groupby('Year').std(numeric_only=True)
waebay_sem = creel.loc[(creel['Species'] == 'WAE') & (creel['County'] == 'BAY')].groupby('Year').sem(numeric_only=True)
waebay_sum = creel.loc[(creel['Species'] == 'WAE') & (creel['County'] == 'BAY')].groupby('Year').sum(numeric_only=True)



waebaymean = waebay_mean['Catch']
waebaymed = waebay_med['Catch']
waebaysum = waebay_sum['Catch']
waebaysd = waebay_sd['Catch']
waebaysem = waebay_sem['Catch']

wae_df = pd.DataFrame({'Total Walleye Caught':waebaysum,'Mean Walleye Caught':waebaymean, 'Median Walleye Caught':waebaymed,
                       'Walleye Catch St. Dev.':waebaysd, "Walleye Catch St. Err.":waebaysem})
wae_df

,Total Walleye Caught,Mean Walleye Caught,Median Walleye Caught,Walleye Catch St. Dev.,Walleye Catch St. Err.
Year,,,,,
2012,105488.739525,3767.454983,61.755262,9140.169961,1727.329761
2013,72468.176823,2415.605894,108.532677,4983.188856,909.801648
2014,94300.415483,2946.887984,1119.145204,4196.414616,741.828308
2015,80404.000000,2512.625000,273.000000,3382.985661,598.033025
2016,53831.000000,1794.366667,139.500000,3363.659660,614.117424
2017,93283.000000,3331.535714,19.500000,7340.452471,1387.215125
2018,147943.016936,5690.116036,1788.176087,8780.978620,1722.091590
2019,159227.000000,5490.586207,1224.000000,9620.294841,1786.443904
2020,39789.653301,1421.059046,172.677193,3339.694666,631.142967
2021,50224.141791,1569.504431,8.434169,2973.805415,525.699494
2022,111773.559190,3991.912828,868.445227,7157.222991,1352.588008

In [9]:
rbtbay_mean = creel.loc[(creel['Species'] == 'RBT') & (creel['County'] == 'BAY')].groupby('Year').mean(numeric_only=True)
rbtbay_med = creel.loc[(creel['Species'] == 'RBT') & (creel['County'] == 'BAY')].groupby('Year').median(numeric_only=True)
rbtbay_std = creel.loc[(creel['Species'] == 'RBT') & (creel['County'] == 'BAY')].groupby('Year').std(numeric_only=True)
rbtbay_sem = creel.loc[(creel['Species'] == 'RBT') & (creel['County'] == 'BAY')].groupby('Year').sem(numeric_only=True)
rbtbay_sum = creel.loc[(creel['Species'] == 'RBT') & (creel['County'] == 'BAY')].groupby('Year').sum(numeric_only=True)

rbtbaymean = rbtbay_mean['Catch']
rbtbaymed = rbtbay_med['Catch']
rbtbaystd = rbtbay_std['Catch']
rbtbaysem = rbtbay_sem['Catch']
rbtbaysum = rbtbay_sum['Catch']

rbt_df = pd.DataFrame({'Total Trout Caught':rbtbaysum,'Mean Trout Caught':rbtbaymean, 'Median Trout Caught':rbtbaymed,
                       'Trout Catch St. Dev.':rbtbaystd, "Trout Catch St. Err.":rbtbaysem})
rbt_df

,Total Trout Caught,Mean Trout Caught,Median Trout Caught,Trout Catch St. Dev.,Trout Catch St. Err.
Year,,,,,
2012,0.000000,0.000000,0.0,0.000000,0.000000
2013,32.251698,1.075057,0.0,5.888327,1.075057
2014,0.000000,0.000000,0.0,0.000000,0.000000
2015,0.000000,0.000000,0.0,0.000000,0.000000
2016,0.000000,0.000000,0.0,0.000000,0.000000
2017,0.000000,0.000000,0.0,0.000000,0.000000
2018,0.000000,0.000000,0.0,0.000000,0.000000
2019,0.000000,0.000000,0.0,0.000000,0.000000
2020,0.000000,0.000000,0.0,0.000000,0.000000
2021,0.000000,0.000000,0.0,0.000000,0.000000
2022,0.000000,0.000000,0.0,0.000000,0.000000

In [10]:
#Find the total number and measures of central tendancy for Rainbow Trout stocking in Chippewa County
#Make a data summary of the results 
trout_total = stock.loc[(stock["Species"] == "Rainbow trout") & (stock['County']== 'Chippewa')].groupby('Date').sum()
trout_mean = stock.loc[(stock["Species"] == "Rainbow trout") & (stock['County']== 'Chippewa')].groupby('Date').mean() 
trout_median = stock.loc[(stock["Species"] == "Rainbow trout") & (stock["County"]== "Chippewa")].groupby('Date').median()
trout_sd = stock.loc[(stock["Species"] == "Rainbow trout") & (stock["County"]== "Chippewa")].groupby('Date').std()
trout_sem = stock.loc[(stock["Species"] == "Rainbow trout") & (stock["County"]== "Chippewa")].groupby('Date').sem()

trouttot = trout_total['Number']
troutm = trout_mean['Number']
troutmed = trout_median['Number']
troutsd = trout_sd['Number']
troutsem = trout_sem['Number']
trout_df = pd.DataFrame({'Total Trout Stocked':trouttot,'Mean Trout Stocked':troutm, 'Median Trout Stocked':troutmed, 'Trout Stocking St. Dev.':troutsd, "Trout Stocking St. Err.":troutsem})
trout_df

/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1597/2091519696.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  trout_total = stock.loc[(stock["Species"] == "Rainbow trout") & (stock['County']== 'Chippewa')].groupby('Date').sum()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1597/2091519696.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  trout_mean = stock.loc[(stock["Species"] == "Rainbow trout") & (stock['County']== 'Chippewa')].groupby('Date').mean()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1597/2091519696.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  trout_median = stock.loc[(stock["Species"] == "Rainbow trout") & (stock["County"]== "Chippewa")].groupby('Date').median()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1597/2091519696.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  trout_sd = stock.loc[(stock["Species"] == "Rainbow trout") & (stock["County"]== "Chippewa")].groupby('Date').std()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1597/2091519696.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sem is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  trout_sem = stock.loc[(stock["Species"] == "Rainbow trout") & (stock["County"]== "Chippewa")].groupby('Date').sem()

,Total Trout Stocked,Mean Trout Stocked,Median Trout Stocked,Trout Stocking St. Dev.,Trout Stocking St. Err.
Date,,,,,
2012,25249,5049.800000,1700.0,5454.770866,2439.447692
2013,23632,5908.000000,1291.0,9941.056014,4970.528007
2014,26069,4344.833333,1357.0,5170.507922,2110.851020
2015,26871,5374.200000,1540.0,9309.994640,4163.556177
2016,26740,5348.000000,1500.0,9304.196365,4160.963110
2017,23768,2640.888889,650.0,3880.539668,1293.513223
2018,27240,3405.000000,1434.5,4268.087394,1508.996769
2019,24754,3536.285714,1375.0,6752.355187,2552.150370
2020,31199,7799.750000,1950.0,12145.007215,6072.503607
2021,6383,1595.750000,1291.5,1359.622098,679.811049
2022,25542,3192.750000,826.0,6903.364371,2440.707880

In [11]:
#Find the total number and measures of central tendancy for Walleye stocking in Chippewa County
#Make a data summary of the results 
wal_total = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Chippewa")].groupby('Date').sum()
wal_mean = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Chippewa")].groupby('Date').mean()
wal_median = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Chippewa")].groupby('Date').median()
wal_sd = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Chippewa")].groupby('Date').std()
wal_sem = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Chippewa")].groupby('Date').sem()

waltot = wal_total['Number']
walm = wal_mean['Number']
walmed = wal_median['Number']
walsd = wal_sd['Number']
walsem = wal_sem['Number']
wal_df = pd.DataFrame({'Total Walleye Stocked':waltot,'Mean Walleye Stocked':walm, 'Median Walleye Stocked':walmed, 'Walleye Stocked St. Dev.':walsd, "Walleye Stocked St. Err.":walsem})
wal_df

/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1597/278828644.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wal_total = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Chippewa")].groupby('Date').sum()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1597/278828644.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wal_mean = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Chippewa")].groupby('Date').mean()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1597/278828644.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wal_median = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Chippewa")].groupby('Date').median()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1597/278828644.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wal_sd = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Chippewa")].groupby('Date').std()
/var/folders/19/5vj7_cdj7ns2bg2k2ds3nnjw0000gr/T/ipykernel_1597/278828644.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sem is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wal_sem = stock.loc[(stock["Species"] == "Walleye") & (stock["County"]== "Chippewa")].groupby('Date').sem()

,Total Walleye Stocked,Mean Walleye Stocked,Median Walleye Stocked,Walleye Stocked St. Dev.,Walleye Stocked St. Err.
Date,,,,,
2012,475682,39640.166667,28906.5,46352.419503,13380.790939
2013,214523,42904.600000,41660.0,26540.968630,11869.482009
2014,737387,56722.076923,30000.0,68959.702149,19125.980157
2015,442080,73680.000000,70315.0,53265.554630,21745.571618
2016,472325,47232.500000,39943.0,37141.188990,11745.075222
2017,558292,50753.818182,42800.0,45666.467231,13768.957937
2018,667038,66703.800000,28019.0,94501.733889,29884.072192
2019,882468,110308.500000,52458.5,164628.087291,58204.818449
2020,1225803,175114.714286,25500.0,364456.154254,137751.478278
2021,749725,187431.250000,121562.5,222392.760088,111196.380044
2022,501068,55674.222222,43010.0,42170.753766,14056.917922

In [15]:
#Big Summary

Complete_sum = pd.DataFrame({"Mean Trout Stocked (Chippewa)":troutm, "Mean Walleye Stocked":walm, "Trout Mean Catch (Chippewa)":rainchipm, "Walleye Mean Catch (Chippewa)":walchipm, "Walleye Mean Catch (Bay)":waebaymean,
                "Trout Mean Catch (Bay)":rbtbaymean, "Mean Trout Stocked (Chippewa)":troutm})
Complete_sum

,Mean Trout Stocked (Chippewa),Mean Walleye Stocked,Trout Mean Catch (Chippewa),Walleye Mean Catch (Chippewa),Walleye Mean Catch (Bay),Trout Mean Catch (Bay)
2012,5049.800000,39640.166667,1.711760,1001.218872,3767.454983,0.000000
2013,5908.000000,42904.600000,1.797651,972.741557,2415.605894,1.075057
2014,4344.833333,56722.076923,16.021664,872.024682,2946.887984,0.000000
2015,5374.200000,73680.000000,0.720000,1088.560000,2512.625000,0.000000
2016,5348.000000,47232.500000,4.360000,677.400000,1794.366667,0.000000
2017,2640.888889,50753.818182,77.275862,721.913793,3331.535714,0.000000
2018,3405.000000,66703.800000,6.661994,1.918281,5690.116036,0.000000
2019,3536.285714,110308.500000,12.833333,6.833333,5490.586207,0.000000
2020,7799.750000,175114.714286,7.529016,2.424413,1421.059046,0.000000
2021,1595.750000,187431.250000,NaN,NaN,1569.504431,0.000000
2022,3192.750000,55674.222222,44.381323,438.915398,3991.912828,0.000000

In [13]:
#Plot out (bar chart?) the mean stock and catch data from each county

In [ ]:
#Run a ttest (maybe?) of the catch data comparing Chippewa and Bay counties