In [6]:
import requests 
response = requests.get("https://services3.arcgis.com/Jdnp1TjADvSDxMAX/ArcGIS/rest/services/dnrFisheries/FeatureServer/13/query?outFields=*&where=1%3D1&f=geojson")

In [7]:
data = response.json()

In [1]:
import pandas as pd 
pd.options.display.float_format = '{:.2f}'.format

In [2]:
creel_path = "Michigan_Creel_Data_Harvest1.csv"
creel = pd.read_csv(creel_path)
creel.head()

,OBJECTID,PK,Mode,Site,Year,Month,Species,Effort,AnglerTrips,Harvest,Catch,County,Lake,Port
0,10021,665475,BOAT,1,2012,3,ATL,1823.25,405.17,0.00,0.00,MENOMINEE,MI,MENOMINEE
1,10022,665476,BOAT,1,2012,4,ATL,5103.00,1173.33,0.00,0.00,MENOMINEE,MI,MENOMINEE
2,10023,665477,BOAT,1,2012,5,ATL,1693.78,386.73,0.00,0.00,MENOMINEE,MI,MENOMINEE
3,10024,665478,BOAT,1,2012,6,ATL,4304.25,810.84,0.00,0.00,MENOMINEE,MI,MENOMINEE
4,10025,665479,BOAT,1,2012,7,ATL,15058.44,1679.65,0.00,0.00,MENOMINEE,MI,MENOMINEE

In [6]:
wal = creel.loc[creel["Species"] == "WAE"]

wal = wal.loc[:,['Catch','County']].groupby('County').sum()
wal

                    Catch
County
ALCONA            8163.56
ALGER               12.44
ALLEGAN            117.22
ALPENA           39022.22
ANTRIM             134.00
ARENAC          560017.34
BARAGA            1910.61
BAY            1008732.70
BENZIE              98.67
BERRIEN            409.87
CHARLEVOIX         110.87
CHEBOYGAN        16514.85
CHIPPEWA        223243.52
DELTA           297598.58
EMMET              107.40
GOGEBIC              0.00
GRAND TRAVERSE    2914.81
HURON           446079.59
IOSCO            39861.72
KEWEENAW           210.38
LEELANAU             0.00
MACKINAC         14072.34
MANISTEE           309.09
MARQUETTE            0.00
MASON              121.95
MENOMINEE        19848.00
MUSKEGON          3375.01
OCEANA              50.20
ONTARIO           7165.44
ONTONAGON        20273.46
OTTAWA             353.08
PRESQUE ISLE      1134.03
SAGINAW        1436532.10
SANILAC           5408.92
SCHOOLCRAFT       8521.66
TUSCOLA         433654.53
VAN BUREN          133.00

In [4]:
rainbow = creel.loc[creel["Species"] == "RBT"]
rainbow = rainbow.loc[:,['Catch','County']].groupby('County').sum()
rainbow

                  Catch
County
ALCONA         14457.11
ALGER           9006.84
ALLEGAN            0.00
ALPENA         11776.59
ANTRIM          2899.46
ARENAC           709.80
BARAGA          3034.97
BAY               32.25
BENZIE         10295.11
BERRIEN        24395.96
CHARLEVOIX      1513.45
CHEBOYGAN       1778.22
CHIPPEWA        9469.53
DELTA           4177.87
EMMET          11976.11
GOGEBIC          201.00
GRAND TRAVERSE 15738.46
HURON           7711.59
IOSCO           4600.22
KEWEENAW        1563.78
LEELANAU          19.00
MACKINAC        1897.45
MANISTEE       31407.80
MARQUETTE       5406.49
MASON          20187.67
MENOMINEE        889.70
MUSKEGON       28078.86
OCEANA          8384.20
ONTARIO           52.26
ONTONAGON        398.10
OTTAWA         37827.51
PRESQUE ISLE    3001.94
SAGINAW           52.04
SANILAC        12842.84
SCHOOLCRAFT     7891.77
TUSCOLA           58.14
VAN BUREN      15711.35

In [37]:
print(wal.iloc[5,0])

560017.33994802

In [9]:
walchipmean = creel.loc[(creel["Species"] == "WAE") & 
                        (creel['County'] == "CHIPPEWA")].groupby('Year').mean()
walchipmean = walchipmean['Catch']
rainchipmean = creel.loc[(creel["Species"] == "RBT") & 
                           (creel['County'] == "CHIPPEWA")].groupby('Year').mean()
rainchipmean = rainchipmean['Catch']
walchiptot = creel.loc[(creel["Species"] == "WAE") & 
                       (creel['County'] == "CHIPPEWA")].groupby('Year').sum()
walchiptot = walchiptot['Catch']
rainchiptot = creel.loc[(creel["Species"] == "RBT") & 
                         (creel['County'] == "CHIPPEWA")].groupby('Year').sum()
rainchiptot = rainchiptot['Catch']
chip = pd.merge(walchipmean,walchiptot, on= "Year")
chip

C:\Users\Kyle\AppData\Local\Temp\ipykernel_20448\786516073.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  (creel['County'] == "CHIPPEWA")].groupby('Year').mean()
C:\Users\Kyle\AppData\Local\Temp\ipykernel_20448\786516073.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  (creel['County'] == "CHIPPEWA")].groupby('Year').mean()
C:\Users\Kyle\AppData\Local\Temp\ipykernel_20448\786516073.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  (creel['County'] == "CHIPPEWA")].groupby('Year').sum()
C:\Users\Kyle\AppData\Local\Temp\ipykernel_20448\786516073.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  (creel['County'] == "CHIPPEWA")].groupby('Year').sum()

      Catch_x  Catch_y
Year
2012  1001.22 27032.91
2013   972.74 41827.89
2014   872.02 28776.81
2015  1088.56 27214.00
2016   677.40 16935.00
2017   721.91 41871.00
2018     1.92    13.43
2019     6.83    41.00
2020     2.42    29.09
2022   438.92 39502.39